ul li {
  list-style-type: lower-alpha;
}
.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1860px;

  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}
.app-wrapper-content {
    grid-area: c;
    background-color: #DEBC49;
}